
<ion-list class="bookmarks">
  <ion-list-header>{{'LISTLIST_TITLE' | translate}}</ion-list-header>
  <ion-item *ngFor="let list of (alllists | orderBy:'id')" (click)="toggleFromList(list)">
    <h2><ion-icon *ngIf="!list?.visibility" name="lock"></ion-icon> {{list?.name}}</h2>
    <ion-note item-end>
      <button ion-button icon-only clear="true"
        [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
        <ng-container *ngIf="list?.stories">
          <ion-icon [name]="list?.stories?.indexOf(story) > -1 ? 'star' : 'star-outline'"></ion-icon>
        </ng-container>
      </button>
    </ion-note>
  </ion-item>
</ion-list>
