page-story-view {
  ion-header {
    top: 0;
    z-index: 9999;
    transition: top 0.5s;
  }

  ion-header.fullscreen {
    top: -80px;
  }

  .toolbar {
    padding-top: 30px;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .back-button.show-back-button,
  .toolbar-title {
    color: inherit;
    padding: 0;
  }

  .toolbar-title {
    margin: 0;
  }

  .content {
    background: black;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }

  .fixed-content {
    margin-top: 0px !important;
  }

  .slides {
    height: 100%;
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
  }

  .ng-scrollbar-thumb.grey,
  .ng-scrollbar-thumb.black {
    background: rgba(255, 255, 255, 0.5);
  }

  .ng-scrollbar-autohide > .ng-scrollbar {
    transition: opacity 5s cubic-bezier(1, 0, 1, 0) !important;
    margin-right: 3px;
  }

  .ng-scrollbar-autohide:hover > .ng-scrollbar {
    opacity: 0;
  }

  .ng-scrollbar-autohide:active > .ng-scrollbar,
  .ng-scrollbar-autohide:focus > .ng-scrollbar {
    opacity: 1;
    transition: unset !important;
  }

  #slide-content {
    margin: 0;
    padding: 75px 20px 95px 20px;
  }

  #slide-content img {
    min-width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
  }

  .pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0 10px;
    transition: bottom 0.5s;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .range {
      flex-grow: 1;
      padding: 0 10px;
    }

    .range-md .range-pin {
      z-index: 9999;
    }

    .count {
      padding: 0 10px;
    }
  }

  .pagination.fullscreen {
    bottom: -100px;
  }
}
