page-story-view {

  .header {
    transition: top 0.5s;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .back-button.show-back-button, .toolbar-title {
    color: inherit;
    padding: 0;
  }

  .toolbar-title {
    margin: 0;
  }

  .content {
    background: black;
    color: white;
    transition: top 0.5s;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .slides {
    height: 100%;
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
    overflow-y: auto;
  }

  p {
    margin: 0;
    padding: 20px;
    // white-space: pre-wrap;
  }

  .pagination {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    animation: slideUpShow 0.5s;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;


    .range {
      flex-grow: 1;
      padding: 0 10px;
    }

    .range-md .range-pin {
      z-index: 9999;
    }

    .count {
      padding: 0 10px;
    }
  }

  .pagination.hidden {
    animation: slideDownRemove 0.5s;
    bottom: 0;
    visibility: hidden;
  }

  @keyframes slideUpShow { 
    0% { bottom: -40px; }
    100% { bottom: 50px; }
  }

  @keyframes slideDownRemove { 
    0% { visibility: visible; bottom: 50px; }
    100% { bottom: -40px; visibility: hidden; }
  }

}
