page-story-view {

  ion-header {
    opacity: 1;
    top: 0;
    transition: opacity 0.5s, top 0.5s;
  }

  ion-header.fullscreen {
    top: -50px;
    opacity: 0;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .back-button.show-back-button, .toolbar-title {
    color: inherit;
    padding: 0;
  }

  .toolbar-title {
    margin: 0;
  }

  .content {
    background: black;
    color: white;
    transition: top 0.5s;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .slides {
    height: 100%;
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
    overflow-y: auto;
  }

  p {
    margin: 0;
    padding: 55px 20px 45px 20px;
    transition: padding 0.5s;
  }

  p.fullscreen {
    padding: 20px;
  }

  .pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    opacity: 1;
    transition: opacity 0.5s, bottom 0.5s;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;


    .range {
      flex-grow: 1;
      padding: 0 10px;
    }

    .range-md .range-pin {
      z-index: 9999;
    }

    .count {
      padding: 0 10px;
    }
  }

  .pagination.fullscreen {
    opacity: 0;
    bottom: -50px;
  }

}
