page-story-view {

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .back-button.show-back-button, .toolbar-title {
    color: inherit;
  }

  .content {
    background: black;
    color: white;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .slides {
    height: 100%;
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
    overflow-y: auto;
  }

  p {
    margin: 0;
    padding: 20px;
    // white-space: pre-wrap;
  }

  .pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .range {
      flex-grow: 1;
      padding: 0 10px;
    }

    .range-md .range-pin {
      z-index: 9999;
    }

    .count {
      padding: 0 10px;
    }
  }

}
