<ion-header [@visibilityChanged]="fullscreen" no-border>
  <ion-navbar [style.color]="settings.color" [style.background]="settings.background">
    <ion-title>
        {{ story.title }}
    </ion-title>
    <ion-buttons end>

      <button ion-button icon-only
        *ngIf="user.isLoggedIn()" (click)="openListPicker($event)"
        [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="bookmark" [style.color]="settings.color"></ion-icon>
      </button>
      
      <button ion-button icon-only (click)="showInfo(story)"
        [tooltip]="'STORY_TOOLTIP_SHOWINFO' | translate" event="press" navTooltip>
        <ion-icon name="information-circle" [style.color]="settings.color"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen [style.top]="fullscreen ? 0 : '50px'">

  <ion-slides #slidesElement (ionSlideDidChange)="slideChanged()" [slidesPerView]="slidesPerView" [dir]="dir" [style.color]="settings.color" (click)="clickSlides($event)">
    <ion-slide *ngFor="let slide of slides"
      [style.fontSize]="settings.fontsize + 'px'"
      [style.lineHeight]="settings.lineheight + 'px'"
      [style.fontFamily]="settings.font + ', sans-serif'"
      [style.textAlign]="settings.textalign"
      [style.background]="settings.background"
      [style.color]="settings.color">
      <p [innerHTML]="slide.content"></p>
    </ion-slide>
  </ion-slides>

  <div class="pagination"
    [style.bottom]="fullscreen ? 0 : '50px'"
    [@visibilityChanged]="fullscreen"
    [style.background]="settings.background"
    [style.color]="settings.color">
    <button ion-button icon-only clear (click)="showPopover($event)">
        <ion-icon name="settings" [style.color]="settings.color"></ion-icon>
      </button>
    <ion-range #range (ionChange)="slidesElement.slideTo($event.value-1)"
      pin="true" snaps="true" step="1" min="1" [max]="slides.length"></ion-range>
    <span class="count">{{Math.min(slides.length,slidesElement.getActiveIndex()+1)}} / {{slides.length}}</span>
  </div>
</ion-content>
