<ion-header [class]="fullscreen ? 'fullscreen': ''" no-border>
  <ion-navbar [style.color]="settings.color" [style.background]="settings.background">
    <ion-title>
        {{ story.title }}
    </ion-title>
    <ion-buttons end>

      <button ion-button icon-only
        *ngIf="user.isLoggedIn()" (click)="openListPicker($event)"
        [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="bookmark" [style.color]="settings.color"></ion-icon>
      </button>
      
      <button ion-button icon-only
        *ngIf="story?.series" (click)="showSeries(story)"
        [tooltip]="'STORYDETAIL_SERIES' | translate" event="press" navTooltip>
        <ion-icon name="albums" [style.color]="settings.color"></ion-icon>
      </button>

      <button ion-button icon-only (click)="showInfo(story)"
        [tooltip]="'STORY_TOOLTIP_SHOWINFO' | translate" event="press" navTooltip>
        <ion-icon name="information-circle" [style.color]="settings.color"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-slides #slidesElement
    (ionSlideDidChange)="slideChanged()"
    [slidesPerView]="slidesPerView"
    [dir]="dir"
    (click)="clickSlides($event)"
    [style.fontSize]="settings.fontsize + 'px'"
    [style.lineHeight]="settings.lineheight + 'px'"
    [style.fontFamily]="settings.font + ', sans-serif'"
    [style.textAlign]="settings.textalign"
    [style.background]="settings.background"
    [style.color]="settings.color">

    <ion-slide *ngFor="let slide of slides; let i=index">
      <p *ngIf="Math.abs(slidesElement.getActiveIndex() - i) < 5" [innerHTML]="slide.content"></p>
    </ion-slide>
  </ion-slides>

</ion-content>

<div class="pagination {{fullscreen ? 'fullscreen': ''}}"
  [style.background]="settings.background"
  [style.color]="settings.color">

  <button ion-button icon-only clear (click)="showPopover($event)">
    <ion-icon name="settings" [style.color]="settings.color"></ion-icon>
  </button>

  <ion-range #range (ionChange)="slidesElement.slideTo($event.value-1)"
    *ngIf="slides.length > 1" pin="true" [snaps]="slides.length < 15" step="1" min="1" [max]="slides.length"></ion-range>

  <span class="count">{{Math.min(slides.length,slidesElement.getActiveIndex()+1)}} / {{slides.length}}</span>
</div>
