<ion-tabs #tabs>
  <ion-tab tabsHideOnSubPages="true" [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="book"></ion-tab>

  <ng-container *ngIf="!settings.allSettings.offlineMode">
    <ion-tab tabsHideOnSubPages="true" [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="stats"></ion-tab>
    <ion-tab tabsHideOnSubPages="true" [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="search"></ion-tab>
  
    <ng-container *ngIf="user.isLoggedIn()">
      <ion-tab tabsHideOnSubPages="true" [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="filing" [tabBadge]="f.feedbadge!='' && f.feedbadge!=0 ? f.feedbadge : ''"></ion-tab>
      <ion-tab tabsHideOnSubPages="true" [root]="tab5Root" [tabTitle]="tab5Title" tabIcon="list"></ion-tab>
    </ng-container>

  </ng-container>
</ion-tabs>