.ion-app,
.content,
.item,
.list,
.tabbar,
.menu-inner,
.popover-content,
.card {
  background: #000 !important;
}

.toolbar-background {
  background: #000;
}

.searchbar-input {
  background: #222 !important;
  color: #fff !important;
}

.alert-wrapper {
  background: #111 !important;
  color: #fff;
}

.alert-checkbox-label,
.alert-message,
.alert-input {
  color: #fff !important;
}

.alert-checkbox-group {
  border-color: #333 !important;
}
