<ion-header>

  <ion-navbar>
    <ion-title>{{author?.name}}</ion-title>
    <ion-buttons end>
      
      <button ion-button icon-only
        (click)="share()"
        [tooltip]="'SHARE_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button icon-only
        *ngIf="user.isLoggedIn()" (click)="followToggle()"
        [tooltip]="'AUTHOR_TOOLTIP_FOLLOW' | translate" event="press" navTooltip>
        <ion-icon [name]="author?.following ? 'remove-circle' : 'person-add'"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-img [src]="author?.picture + '_default.jpg'"></ion-img>
  <p *ngIf="author?.jointimestamp">{{'AUTHOR_JOINDATE' | translate}}: {{author?.jointimestamp*1000 | date}}</p>
  <p *ngIf="author?.updatetimestamp">{{'AUTHOR_UPDATEDATE' | translate}}: {{author?.updatetimestamp*1000 | date}}</p>

  <div class="bio">
    <p #biotext [innerHTML]="author?.bio"></p>
    <div class="arrow" *ngIf="showArrow">
      <ion-icon name="arrow-down"></ion-icon>
    </div>
  </div>


	<h1 (click)="loadSubmissions()">
    {{ 'SUBMISSIONS' | translate }}
    <small>({{author?.storycount}})</small>
  </h1>

  <a *ngIf="!showStories" (click)="loadSubmissions()">{{'AUTHOR_SHOWSTORIES' | translate}}</a>

  <story-list *ngIf="showStories" [stories]="author?.stories"
    infinite="true" (ionInfinite)="loadMoreSubmissions($event)"></story-list>


  <h1 (click)="loadFavs()">{{ 'FAVORITES' | translate }}</h1>

  <a *ngIf="!showFavs" (click)="loadFavs()">{{'AUTHOR_SHOWFAVS' | translate}}</a>
	<story-list *ngIf="showFavs" [stories]="author?.favs"
    infinite="true" (ionInfinite)="loadMoreFavs($event)"></story-list>


</ion-content>
