<ion-header>

  <ion-navbar>
    <ion-title>{{author?.name}}</ion-title>
    <ion-buttons end>
      
      <button ion-button icon-only
        (click)="share()"
        [tooltip]="'SHARE_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="share"></ion-icon>
      </button>

      <button ion-button icon-only
        *ngIf="user.isLoggedIn()" (click)="followToggle()"
        [tooltip]="'AUTHOR_TOOLTIP_FOLLOW' | translate" event="press" navTooltip>
        <ion-icon [name]="author?.following ? 'remove-circle' : 'person-add'"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="bio">
    <ion-img [src]="author?.picture"></ion-img>
  	<p #biotext [innerHTML]="author?.bio"></p>
    <div class="arrow" *ngIf="showArrow">
      <ion-icon name="arrow-down"></ion-icon>
    </div>
  </div>

	<h1 (click)="loadSubmissions()">{{ 'SUBMISSIONS' | translate }}</h1>
  <a *ngIf="!showStories" (click)="loadSubmissions()">{{'AUTHOR_SHOWSTORIES' | translate}}</a>
  <story-list *ngIf="showStories" [stories]="author?.stories"></story-list>

  <h1 (click)="loadFavs()">{{ 'FAVORITES' | translate }}</h1>
  <a *ngIf="!showFavs" (click)="loadFavs()">{{'AUTHOR_SHOWFAVS' | translate}}</a>
	<story-list *ngIf="showFavs" [stories]="author?.favs"></story-list>

</ion-content>
