page-author {

	ion-img {
		float: left;
		width: 100px;
		height: 100px;
		margin: 1.6rem 1.6rem 1.6rem 0;
	}

	.bio {
		white-space: pre-wrap;
		max-height: 150px;
		overflow-y: hidden;
		margin-bottom: 25px;
	}

	.bio:hover {
		max-height: unset;
	}

	h1 {
		clear: both;
	}

}
