story-list-item {

	.item-inner {
		width: 100%;
		border-color: #666 !important;
		font-size: 0.9em;
	}

	.item h2 {
		font-size: 1em;
	}

	.item p {
		font-size: 0.9em;
	}

	.item h2 + p {
		font-style: italic;
	}

	.item h2 .icon {
		font-size: 0.8em;
		vertical-align: middle;
		margin: -2px 3px 0 0;
	}

	.badge {
		margin-top: 3px;
		margin-left: 5px;
		font-size: 0.7em;
		vertical-align: bottom;
	}

	.tags {
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.note .button {
		font-size: 0.9em;
		margin: 0;
	}

	.note .button .icon {
		padding: 0 0.1em;
	}

}
