
<ion-item-sliding approxItemHeight="105px" #slidingItem>
  <ion-item (press)="handlePress(story,$event)" (click)="handleClick(story,$event)">

    <h2>
      <ion-icon name="eye" *ngIf="story?.cached && !story?.downloaded && !ishistory"></ion-icon>
      <ion-icon name="download" *ngIf="story?.downloaded"></ion-icon>
      {{story?.title}}
      <ion-badge *ngIf="story?.iscontestwinner" color="blue">{{'WINNER_TAG' | translate}}</ion-badge>
      <ion-badge *ngIf="story?.ishot" color="red">{{'HOT_TAG' | translate}}</ion-badge>
      <ion-badge *ngIf="story?.iswriterspick" color="green">{{'WRITER_TAG' | translate}}</ion-badge>
      <ion-badge *ngIf="story?.isnew" color="yellow">{{'NEW_TAG' | translate}}</ion-badge>
    </h2>

    <p>{{story?.description}} ({{story?.lang}})</p>
    <p>
      <ion-icon name="star"></ion-icon> {{story?.rating}}
      ({{story?.viewcount > 1000 ? Math.round(story?.viewcount/1000)+'k' : story?.viewcount}})
      <em> {{ 'BYAUTHOR' | translate }} <a (click)="showAuthor(story?.author, $event)">{{story?.author.name}}</a></em>
      {{ 'ONTIMESTAMP' | translate }} {{(story?.timestamp*1000) | date:'yyyy-MM-dd' }}
    </p>

    <p class="tags">
      <strong>{{story?.category}}</strong>
      <span *ngFor="let tag of story?.tags">#{{tag}} </span>
    </p>

    <ion-note *ngIf="user.isLoggedIn()" item-end>
      <button ion-button icon-only clear="true" (click)="openListPicker(story, $event)" [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="star-outline"></ion-icon>
      </button>
    </ion-note>

  </ion-item>

  <ion-item-options>
    <button ion-button color="danger" (click)="delete(story, slidingItem)">
      {{ 'DELETE_BUTTON' | translate }}
    </button>
  </ion-item-options>
</ion-item-sliding>
