<ion-header>

  <ion-navbar>
  	<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'FEED_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button end ion-button icon-only (click)="openFollowing()"
        [tooltip]="'FEED_TOOLTIP_FOLLOWING' | translate" event="press" navTooltip>
       <ion-icon name="people"></ion-icon>
     </button>
   </ion-buttons>
 </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of feed" (click)="openItem(item)">

      <ion-img *ngIf="item.subject=='author'" [src]="item.author.picture"></ion-img>
      <p><a (click)="openAuthor(item.author, $event)">{{item.author.name}}</a> {{item.text}}</p>
      <h2 *ngIf="item.subject=='story'">{{item.story.title}}</h2>
      <p>{{item.timestamp}}</p>
      
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
