page-feed {

	.author .item-inner {
		padding: 10px 0;
	}

	.author p {
		white-space: initial;
	}

	ion-avatar {
		float: left;
		margin-right: 10px;
	}

	.item-inner {
		border-color: #666 !important;
	}

	.virtual-position {
		width: 100%;
	}

	.oldline {
		padding-bottom: 10px;
		color: #666;
		text-align: center;
		border-bottom: 1px solid #666;
	}

}
