<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SETTINGS_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list>
      <ion-item>
        <ion-label>{{'SETTINGS_CHECKFORFEEDUPDATES' | translate}}</ion-label>
        <ion-toggle formControlName="checkforfeedupdates"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="!g.isWebApp()">
        <ion-label>{{'SETTINGS_CHECKFORAPPUPDATES' | translate}}</ion-label>
        <ion-toggle formControlName="checkforappupdates"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'SETTINGS_CACHELISTS' | translate}}</ion-label>
        <ion-toggle formControlName="cachelists"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'SETTINGS_AMOLEDBLACKTHEME' | translate}}</ion-label>
        <ion-toggle formControlName="amoledBlackTheme"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'SETTINGS_OFFLINEMODE' | translate}}</ion-label>
        <ion-toggle formControlName="offlineMode"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="!g.isWebApp()">
        <ion-label>{{'SETTINGS_ENABLELOCK' | translate}}</ion-label>
        <ion-toggle formControlName="enableLock"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'SETTINGS_FORCENORMALLIST' | translate}}</ion-label>
        <ion-toggle formControlName="forceNormalList"></ion-toggle>
      </ion-item>
    </ion-list>
    <p>
      {{'SETTINGS_RESTART_DISCLAIMER' | translate}}
    </p>
  </form>

  <button ion-button (click)="exportData()"><ion-icon name="cloud-download"></ion-icon>&nbsp; {{'SETTINGS_EXPORT' | translate}}</button>

  <button ion-button (click)="importData()"><ion-icon name="cloud-upload"></ion-icon>&nbsp; {{'SETTINGS_IMPORT' | translate}}</button>

  <br />
  <br />
  <h3>{{'SETTINGS_ABOUTAPP' | translate}}</h3>

  <button ion-button (click)="g.checkForUpdates(true)" *ngIf="!options.offlineMode && !g.isWebApp()">
    <ion-icon name="refresh"></ion-icon>&nbsp; {{'SETTINGS_CHECKFORUPDATES' | translate}}
  </button>

  <br />

  <p>
    {{'SETTINGS_ABOUT_DESCRIPTION' | translate}}
    <br />
    <a href="https://theilluminatus.github.io/litapp" target="new" *ngIf="!options.offlineMode">{{'SETTINGS_GITHUB_LINK' | translate}}</a>
  </p>

  <button ion-button (click)="saveErrorLog()" color="secondary">
    <ion-icon name="bug"></ion-icon>&nbsp; {{'SETTINGS_SAVEERRORLOG' | translate}}
  </button>

  <br />
  <br />

  <span class="version">({{'SETTINGS_VERSION' | translate}}: {{g.getVersion()}})</span>
</ion-content>
