<ion-header>

  <ion-navbar>
    <ion-title>{{story.title}}</ion-title>
    <ion-buttons end>


      <button ion-button icon-only (click)="toggleDownload()"
        [tooltip]="'STORYDETAIL_TOOLTIP_DOWNLOAD' | translate" event="press" navTooltip>
        <ion-icon [name]="story.downloaded ? 'trash' : 'download'"></ion-icon>
      </button>

      <button ion-button icon-only
        *ngIf="user.isLoggedIn()" (click)="openListPicker($event)"
        [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="bookmark"></ion-icon>
      </button>

      <button ion-button icon-only
        (click)="share()"
        [tooltip]="'SHARE_BUTTON' | translate" event="press" navTooltip>
        <ion-icon name="share"></ion-icon>
      </button>

   </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>{{story.description}}</p>

  <p>
    <button ion-button *ngIf="story.series > 0" (click)="showSeries()">
      <ion-icon name="albums"></ion-icon>&nbsp;
      {{'STORYDETAIL_SERIES' | translate }}
    </button>
    <button ion-button (click)="showRelated()">
      <ion-icon name="pricetags"></ion-icon>&nbsp;
      {{'STORYDETAIL_RELATED' | translate }}
    </button>
  </p>

  <h2>{{'DETAILS' | translate}}</h2>

  <p>
    <ion-badge *ngIf="story.iscontestwinner" color="blue">{{'WINNER_TAG' | translate}}</ion-badge>
    <ion-badge *ngIf="story.ishot" color="red">{{'HOT_TAG' | translate}}</ion-badge>
    <ion-badge *ngIf="story.iswriterspick" color="green">{{'WRITER_TAG' | translate}}</ion-badge>
    <ion-badge *ngIf="story.isnew" color="yellow">{{'NEW_TAG' | translate}}</ion-badge>
  </p>

  <p><strong>{{'AUTHOR' | translate}}: </strong> <a (click)="showAuthor(story.author)">{{story.author.name}}</a></p>
  <p *ngIf="story.category"><strong>{{'CATEGORY' | translate}}: </strong> <a (click)="search(story.category)">{{story.category}}</a></p>

  <p class="tags" *ngIf="story.tags && story.tags.length > 0">
    <strong>{{'TAGS' | translate}}: </strong>
    <a *ngFor="let tag of story.tags" (click)="search(tag)">#{{tag}} </a>
  </p>

  <p><strong>{{'RATING' | translate}}: </strong> <ion-icon name="star"></ion-icon> {{story.rating}}</p>
  <p><strong>{{'VIEWCOUNT' | translate}}: </strong> {{story.viewcount}}</p>
  <p><strong>{{'LENGTH' | translate}}: </strong> {{story.length}} {{'PAGES' | translate}}</p>
  <p><strong>{{'LANGUAGE' | translate}}: </strong> {{story.lang}}</p>
  <p><strong>{{'TIMESTAMP' | translate}}: </strong> {{(story.timestamp*1000) | date:'yyyy-MM-dd HH:mm' }}</p>

  <ng-container *ngIf="user.isLoggedIn() && story.ratingenabled && !story.myrating">
    <h3>{{'STORYDETAIL_RATETITLE' | translate }}</h3>
    <form (submit)="rate($event)" class="rate">
      <ion-range [(ngModel)]="myrating" name="myrating" snaps="true" step="1" min="0" max="5" pin="true"></ion-range>
      <button ion-button outline>{{'STORYDETAIL_RATE' | translate }}</button>
    </form>
  </ng-container>

  <ng-container *ngIf="story.comments && story.commentsenabled">
    <h2>{{'COMMENTS' | translate}}</h2>
    <ion-list class="comments">
    	<ion-item *ngFor="let comment of story.comments">
    		<h3>{{comment.user}}</h3>
    		<h6>{{comment.timestamp}}</h6>
    		<p>{{comment.text}}</p>
    	</ion-item>
    </ion-list>
  </ng-container>

</ion-content>
