
<div style="height: 100%; width: 100%">
  <p *ngIf="!stories?.length" class="empty">
    {{'STORYLIST_EMPTY' | translate}}
  </p>

  <ion-list [virtualScroll]="stories" [headerFn]="showHeaders" [sliding]="ishistory">

    <ion-item-divider *virtualHeader="let pageindicator">
      {{'LIST_PAGECOUNTDIVIDER' | translate}} {{ pageindicator }}
    </ion-item-divider>

    <div *virtualItem="let story">
      <story-list-item [ishistory]="ishistory" [story]="story" (onDeleteBySwiping)="onDeleteBySwiping.emit($event)"></story-list-item>
    </div>

  </ion-list>

  <ion-infinite-scroll [enabled]="enableInfinite" (ionInfinite)="loadMore($event)" *ngIf="infinite && stories?.length > 9">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
