
<ion-list [sliding]="sliding">

  <ion-item-sliding *ngFor="let story of stories">
    <ion-item (click)="openStory(story)">
      <h2>{{story.title}}</h2>
      <p>{{story.description}}</p>
      <p>
        <ion-icon name="star"></ion-icon> {{story.rating}}
        <em> {{ 'BYAUTHOR' | translate }} <a (click)="showAuthor(story.author, $event)">{{story.author.name}}</a> </em>
        {{ 'ATTIMESTAMP' | translate }} {{story.timestamp}}
      </p>
      <p class="tags">
        <strong>{{story.category}}</strong>
        <span *ngFor="let tag of story.tags">#{{tag}} </span>
      </p>
      <ion-note item-end>
        <button ion-button icon-only clear="true" (click)="openListPicker(story, $event)"
          [tooltip]="'BOOKMARK_BUTTON' | translate" event="press" navTooltip>
          <ion-icon [name]="story.lists?.length > 0 ? 'star' : 'star-outline'"></ion-icon>
        </button>
      </ion-note>
  	</ion-item>
	<ion-item-options>
      <button ion-button color="danger" (click)="delete(story)">
      	{{ 'DELETE_BUTTON' | translate }}
      </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>
