story-list {

	.empty {
		text-align: center;
		border-top: none;
		opacity: 0.7;
	}

	.item-divider {
		background: none;
    	text-align: center;
    	border: none;
    	margin-top: 7px;
    	font-weigth: bold;
	}

	.list-md .item-block .item-inner {
		border-color: #666;
	}
	
	.virtual-position {
		width: 100%;
	}

}
