story-list {

	ion-list-header.empty {
		text-align: center;
		border-top: none;
	}

	.item-inner {
		border: none;
	}

	.item h2 + p {
		font-size: 0.8em;
	}

	.badge {
		margin-left: 5px;
	}

	.list-md .item-block .item-inner {
		border-color: #666;
	}

	.tags {
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

}
