story-list {

	.item-inner {
		border: none;
	}

	.list-md .item-block .item-inner {
		border-color: #666;
	}

	.tags {
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.list .item .label p {
		white-space: normal;
	}

}
