// http://ionicframework.com/docs/v2/theming/

.bar-buttons button {
	margin: 0 5px;
}

.ion-page .list .item {
	padding-left: 0;
}

.ion-page .list .item-inner {
	padding-right: 0;
}

ion-app.md [padding] .scroll-content {
	padding-top: 0;
	padding-bottom: 0;
}

.refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line, .refresher-refreshing .spinner-crescent circle, .spinner-md-crescent circle {
	stroke: #666;
}

.popover-viewport .list .item-inner {
	border: none;
}

.loading-wrapper{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

ion-spinner {
  width: 75px;
  height: 75px;
}
