<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ 'SEARCH_TITLE' | translate }}
      <small *ngIf="totalResults && currentStories.length">({{totalResults}})</small>
    </ion-title>
    <ion-buttons end>
      <button end ion-button icon-only (click)="openOptionsPopover($event)" [tooltip]="'SEARCH_SORT' | translate" event="press" navTooltip>
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button end ion-button icon-only menuToggle="right" [tooltip]="'SEARCH_HISTORY' | translate" event="press" navTooltip>
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar
      animated="true"
      autocomplete="on"
      (keyup.enter)="getStories($event.target.value)"
      [placeholder]="'SEARCH_PLACEHOLDER' | translate"
      #searchbar
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-nav #stars></ion-nav>
  <ion-menu side="right" [content]="stars" class="starredmenu" #panel ion-fixed>
    <ion-list>
      <div class="scroll-content">
        <ion-item-divider color="light">{{ 'SEARCH_STARREDQUERIES' | translate }}</ion-item-divider>

        <button ion-item *ngFor="let query of starredQueries" (click)="search(query)">
          <ion-label>{{query}}</ion-label>
          <div item-end>
            <ion-icon name="close" color="danger" (click)="delete($event, query)"></ion-icon>
          </div>
        </button>

        <ion-item-divider color="light">{{ 'SEARCH_HISTORY' | translate }}</ion-item-divider>

        <button ion-item *ngFor="let query of (recentQueries | reverse)" (click)="search(query)">
          <ion-label>{{query}}</ion-label>
          <div item-end>
            <ion-icon name="star" color="secondary" (click)="pinSearch($event, query)"></ion-icon>
            <ion-icon name="close" color="danger" (click)="delete($event, query)"></ion-icon>
          </div>
        </button>
      </div>
    </ion-list>
  </ion-menu>

  <story-list #list [stories]="currentStories" infinite="true" (ionInfinite)="loadMore($event)"></story-list>
</ion-content>
