<ion-header>

	<ion-navbar>
		<button ion-button icon-only menuToggle="left">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			{{ 'SEARCH_TITLE' | translate }}
			<small *ngIf="totalResults && currentStories.length">({{totalResults}})</small>
		</ion-title>
		<ion-buttons end>
			<!-- <button end ion-button icon-only (click)="openSortPopover($event)"
				[tooltip]="'SEARCH_SORT' | translate" event="press" navTooltip>
				<ion-icon name="funnel"></ion-icon>
			</button> -->
			<button end ion-button icon-only menuToggle="right"
				[tooltip]="'SEARCH_STARREDQUERIES' | translate" event="press" navTooltip>
				<ion-icon name="bookmarks"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar no-border-top>
		<ion-searchbar animated="true" (keyup.enter)="getStories($event.target.value)" [placeholder]="'SEARCH_PLACEHOLDER' | translate" #searchbar></ion-searchbar>
		<ion-buttons end>
			<button class="savebutton" color="primary" ion-button icon-only (click)="saveSearch(searchbar.value)">
				<ion-icon name="bookmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>


<ion-content padding>
	<ion-nav #stars></ion-nav>
	<ion-menu side="right" [content]="stars" class="starredmenu" #panel>
		<ion-list>
			<ion-list-header>
				{{ 'SEARCH_STARREDQUERIES' | translate }}
			</ion-list-header>

			<ion-item *ngFor="let query of starredQueries">
				<ion-label (click)="search(query)">{{query}}</ion-label>
				<ion-icon name="trash" color="danger" item-end (click)="delete(query)"></ion-icon>
			</ion-item>
		</ion-list>
	</ion-menu>

	<story-list [stories]="currentStories"></story-list>
	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
	    <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>