page-search {

	.savebutton {
		margin-left: -40px !important;
		position: relative;
		right: 10px;
	}

	.bar-button-menutoggle {
	     display: inline;
	}

	.starredmenu {
		position: fixed;
		top: 110px;

		.item-inner {
			padding: 0 16px;
		}

		[item-end] .icon {
			margin: 0 3px;
		}

		.scroll-content {
			bottom: 60px;
		}

		.item-divider {
			opacity: 0.33;
		}

	}

}
