---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #2196F3 !default;
$header-bg-color-secondary: #3F51B5 !default;

// Text
$section-headings-color: #2196F3 !default;
$body-link-color: #3F51B5 !default;

@import "{{ site.theme }}";

.page-header > a:nth-of-type(1) {
	display: none;
}
