---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #03A9F4 !default;
$header-bg-color-secondary: #673AB7 !default;

// Text
$section-headings-color: #3F51B5 !default;
$body-link-color: #2196F3 !default;

@import "{{ site.theme }}";


.project-name::before {
	content: " ";
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	padding-right: 5px;
	vertical-align: middle;
	background: url("../../images/icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.page-header > a:nth-of-type(2) {
	font-size: 0;
}

.page-header > a:nth-of-type(2)::after {
	content: "Download App";
	font-size: 16px;
}

.page-header > a:nth-of-type(3) {
	display: none;
}

h1#-litapp {
	display: none;
}

#screenshots + p {
	text-align: center;
}
