---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #2196F3 !default;
$header-bg-color-secondary: #673AB7 !default;

// Text
$section-headings-color: #3F51B5 !default;
$body-link-color: #2196F3 !default;

@import "{{ site.theme }}";


.project-name::before {
	content: " ";
	position: relative;
	top: 5px;
	display: inline-block;
	width: 48px;
	height: 48px;
	vertical-align: baseline;
	background: url("images/icon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.page-header > a:nth-of-type(2)::after {
	content: "Download";
	font-size: 16px;
}

.page-header > a:nth-of-type(3) {
	display: none;
}

h1#-litapp {
	display: none;
}
