<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf='order=="top"'>
        {{ cat.name }} ({{'TOPLIST_TITLE_PART' | translate}})
      </span>
      <span *ngIf='order=="new"'>
        {{ cat.name }} ({{'NEWLIST_TITLE_PART' | translate}})
      </span>
      <span *ngIf='order=="random"'>
        {{ cat.name }} ({{'RANDOMLIST_TITLE_PART' | translate}})
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <story-list [stories]="stories" infinite="true" (ionInfinite)="loadMore($event)"></story-list>
</ion-content>
