page-story {

  .content {
    background: black;
    color: white;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }

}
