page-story {

  .content {
    background: black;
    color: white;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
    overflow-y: auto;
  }

  .swiper-pagination-fraction {
    text-align: right;
    padding-right: 15px;
  }

  p {
    padding: 0 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

}
