page-story {

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .content {
    background: black;
    color: white;
  }

  .slides {
    height: calc( 100% - 40px);
  }

  .swiper-slide {
    font-size: inherit;
    text-align: inherit;
  }

  .slide-zoom {
    height: 100%;
    text-align: inherit;
    overflow-y: auto;
  }

  p {
    padding: 0 20px;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  .pagination {

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    .range {
      padding: 0;
      margin-left: 25px;
      width: calc( 100% - 100px );
    }

    .range-md .range-pin {
      z-index: 9999;
    }

    span {
      margin-left: 10px;
      text-align: right;
    }
  }

}
